{% extends 'base_plataforma.html' %}
{% load static %}

{% block plataforma %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
	<h1 class="titulo">Choice patient</h1>
    <div  class="row">
        {% for patient in patients %}
            <div class="col-md-4">
                <a href="{% url 'food_plan' patient.id %}" class="link-hover">
                    <div class="card-paciente">
                        <div class="foto-perfil">
                           
                            {% if patient.sexo == "M"%}
                                <img src="{% static 'plataforma/img/perfil2.png' %}">
                            {% else %}
                                <img src="{% static 'plataforma/img/perfil1.png' %}">
                            {% endif %}
                        </div>
                        <br>
                        <p class="dados">{{patient.nome}}</p>
                        <p class="dados">{{patient.idade}} Anos</p>
                        <p class="dados">{{patient.email}}</p>
                    </div>
                    <br>
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock%}